[name^="acc_id"]{
	width:300px !important;
	margin-right:10px	
}
[name^="acc_secret"]{
	width:100% !important;
	
}
.connect-status{
	float:right;
	font-weight:bold;
	line-height:34px;
	display:none;	
}
.data{
	margin:0;padding:0;
	list-style:none;
}
.data li{
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #fafafa;
}
.data span{
	display:inline-block;
	width:130px;
	text-align:center;
	border-right:1px solid #eee;
	
		
}
.data li span:first-child{
	text-align:left	
}
.data li span:last-child{
	width:auto !important;
	margin-left:30px;	
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000;
  display:none;
  font-size: 3px;
  margin: 30px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
